Django==5.0.4
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
django-environ==0.11.2
Pillow==10.3.0
gunicorn==22.0.0
whitenoise==6.6.0
django-extensions==3.2.3
black==24.8.0
flake8==7.3.0
bandit==1.7.9
graphene-django==3.2.0
channels==4.1.0
daphne==4.1.2
